{
  "singleQuote": true,
  "printWidth": 200,
  "trailingComma": "none",
  "arrowParens": "avoid",
  "parser": "typescript",
  "semi": false,
  "importOrder": ["^(@|[^.])(.*)$", "^[./]"],
  "importOrderSeparation": true
}
